body, html {
    text-align: center;
    margin: 0;
    font-family: sans-serif;
}

.content {
    text-align: center;
    margin: 0 auto;
    width: 1200px;
}


table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}

ul#py_ver {
    list-style-position: inside;
}


body{
    background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1e2d799c-9786-43bb-8e1e-6fe964950e43/d4fe2k2-d2f5dca0-0824-4ba2-9119-21cb3c982ae4.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMWUyZDc5OWMtOTc4Ni00M2JiLThlMWUtNmZlOTY0OTUwZTQzXC9kNGZlMmsyLWQyZjVkY2EwLTA4MjQtNGJhMi05MTE5LTIxY2IzYzk4MmFlNC5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.RvuXDicAILNVsETKBge15KPFxZUeP7TKFZdd10DRHDc);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}
